{% extends "AppForms/home.html"%}
{% block Formulario %}

<h1> Seccion para agregar un nuevo estudiante:</h1> <br>

<form action ="" method="POST">
    {% crf_token %}
    <table>
        {{estudiante.as_table}}
    </table>
    <input type = "submit", value = "Crear">    

</form>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{new_estudiante.legajo}}</h5>
        <h5 class="card-title">{{new_estudiante.nombre}}</h5>
        <p class="card-text">{{new_estudiante.apellido}}</p>
        <p class="card-text">{{new_estudiante.email}}</p>
    </div>
</div>
{% endblock %}  