{% extends 'index.html' %}

{% block titulo %}
    Editar profesor
{% endblock %}

{% block Formulario %}

<h3 style="color:white";>Detalle del profesor</h3> <br>

    {% if profesor.imagen %}
        <img src="{{profesor.imagen.url}}" lass="card-img-top" style="width:10%">
    {% endif %}
        <div class="card-body" style="background-color: rgba(128, 128, 128, 0.68)">
            <p class="card-text" style="color:white";>Legajo: {{profesor.legajo}}</p>
            <p class="card-text" style="color:white";>Nombre: {{profesor.nombre}}</p>
            <p class="card-text" style="color:white";>Apellido: {{profesor.apellido}}</p>
            <p class="card-text" style="color:white";>Email: {{profesor.email}}</p>
            <p class="card-text" style="color:white";>Profesion: {{profesor.profesion}}</p>
            <p class="card-text" style="color:white";>Activo: {{profesor.activo}}</p>
        </div>

{% endblock %}