{% extends 'index.html' %}

{% block titulo %}
    Editar profesores
{% endblock %}

{% block Formulario %}

<h3>Listado de profesores a editar</h3> <br>

{% if object_list %}
    {% for profesor in object_list %}

    <div class="card" style="margin-right:40rem;margin-top:2rem" enctype="multipart/form-data">
        <div class="card-body" style="background-color: rgba(128, 128, 128, 0.68)">
            <p class="card-text">Legajo: {{profesor.legajo}}</p>
            <p class="card-text">Nombre: {{profesor.nombre}}</p>
            <p class="card-text">Apellido: {{profesor.apellido}}</p>
            <p class="card-text">Email: {{profesor.email}}</p>
            <p class="card-text">Profesion: {{profesor.profesion}}</p><br>
            <a href="/appforms/profesor/update_profesor/{{profesor.id}}/" class="btn btn-secondary">Editar</a>
            <a href="/appforms/profesor/delete_profesor/{{profesor.id}}/" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
    {% endfor %}

{% else %}

    <h5>No se ha agregado ningun profesor</h5>

{% endif %}

{% endblock %}



