{% extends 'index.html' %}

{% block titulo %}
    Listar profesores
{% endblock %}

{% block Formulario %}

<h3 style="color:white";>Listado de todos los profesores</h3> <br>

    {% if object_list %}
        {% for profesor in object_list %}
                <div class="card-body" style="background-color: rgba(128, 128, 128, 0.68)">
                    <p class="card-text" style="color:white";>Legajo: {{profesor.legajo}}</p>    
                    <p class="card-text" style="color:white";>Apellido: {{profesor.apellido}}</p>
                    <a href="/appforms/profesor/detail_profesor/{{profesor.id}}/" class="btn btn-secondary">Detalle</a>
                    </div>
                {% endfor %}
            </div>
    {% else %}
        <h5 style="color:white";>No se ha agregado ningun profesor</h5>
    {% endif %}
        </div>

{% endblock %}