{% extends 'index.html' %}

{% block titulo %}
About
{% endblock %}

{% block Formulario %}

<div class="aboutstart">
    <div class="about_title">
        <div class="about_head-title">
            <h2 class="titleabout" style="color:white;">
                ¿Quienes somos?
            </h2>
        </div>
        <div class="about_head-description">
            <h5 class="description-about" style="color:white;">
               De desarrolladores para desarrolladores...<br> 
               Somos la plataforma para aprender, enseñar, compartir y desarrollar projectos web y de tecnologías digitales.<br><br>
            </h5>
        </div>
    </div>
    <div class="imgs">
        <div class="img1">
            <img src="/media/home/cod1.jpg" alt="a"/>
        <div class="img3">
            <img src="/media/home/cod3.jpg" alt="c"/>
        </div>
    </div>
</div>

{% endblock %}

