{% extends 'index.html' %}

{% block titulo %}
About
{% endblock %}

{% block Formulario %}

<div class="aboutstart">
    <div class="about_title">
        <div class="about_head-title">
            <h2 class="titleabout" style="color:white;">
                ¿Quienes somos?
            </h2>
        </div>
        <div class="about_head-description">
            <h5 class="description-about" style="color:white;">
               De desarrolladores para desarrolladores...<br> 
               Somos la plataforma para aprender, enseñar, compartir y desarrollar projectos web y de tecnologías digitales.<br><br>
            </h5>
        </div>
    </div>
    <style type="text/css">
        .welcome{
            display: grid;
            padding: 1rem;
            margin: 2rem;
            border-radius: 2rem;
        }
        .welcome h1{
            margin: 2rem;
            justify-self: center;  
        }
    </style>

    <div class="welcome" style="background-color: rgba(128, 128, 128, 0.68)">
        <h3 class="title" style="color:white;text-align:center">Juan Pablo Beilis</h3>
        <h4 class="subtitle" style="color:white;text-align:center">Argentina</h4>
        <h4 class="subtitle" style="color:white;text-align:center">Data Engineer</h4>
        <a style="text-align:center" href="https://www.linkedin.com/in/juanpablobeilis/"> Perfil Linkedin</a>
    </div>

    <div class="welcome" style="background-color: rgba(128, 128, 128, 0.68)">
        <h3 class="title" style="color:white;text-align:center">Josue Aaron Rodriguez Suarez</h3>
        <h4 class="subtitle" style="color:white;text-align:center">Mexico</h4>
        <h4 class="subtitle" style="color:white;text-align:center">PHP Developer</h4>
        <a style="text-align:center" href="https://www.google.com.mx/"> Perfil Linkedin</a>
    </div>

</div>

{% endblock %}

