{% extends 'index.html' %}

{% block titulo %}
About
{% endblock %}

{% block Formulario %}

<div class="aboutstart">
    <div class="about_title">
        <div class="about_head-title">
            <h2 class="titleabout">
                ¿Quienes somos?
            </h2>
        </div>
        <div class="about_head-description">
            <h5 class="description-about">
               De desarrolladores para desarrolladores<br> somos la plataforma para aprender, enseñar, compartir y desarrollar <br> projectos web y de tecnologías digitales.
            </h5>
        </div>
    </div>
    <div class="imgs">
        <div class="img1">
            <img src="/media/home/cod1.jpg" alt="a"/>
        </div>
        <div class="img2">
            <img src="/media/home/cod2.jpg" alt="b"/>
        </div>
        <div class="img3">
            <img src="/media/home/cod3.jpg" alt="c"/>
        </div>
    </div>
</div>

{% endblock %}

