{% extends 'home.html' %}
{% block Formulario %}

<h1> Seccion para agregar un nuevo estudiante:</h1> <br>

<form action ="" method="POST">
    {% csrf_token %}
    <table>
        {{estudiante.as_table}}
    </table>
    <input type = "submit", value = "Crear">    

</form>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{new_estudiante.legajo}}</h5>
        <h5 class="card-title">{{new_estudiante.nombre}}</h5>
        <h5 class="card-title">{{new_estudiante.apellido}}</h5>
        <h5 class="card-title">{{new_estudiante.email}}</h5>
    </div>
</div>
{% endblock %}  