{% extends 'home.html' %}
{% block Formulario %}

<h1> Seccion para agregar un nuevo profesor:</h1> <br>

<form action ="" method="POST">
    {% csrf_token %}
    <table>
        {{profesor.as_table}}
    </table>
    <input type = "submit", value = "Crear">    

</form>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{new_profesor.nombre}}</h5>
        <h5 class="card-title">{{new_profesor.apellido}}</h5>
        <h5 class="card-title">{{new_profesor.email}}</h5>
        <h5 class="card-title">{{new_profesor.profesion}}</h5>
    </div>
</div>

{% endblock %}  