<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/crear/create_curso">Curso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/crear/create_estudiante">Estudiante</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/crear/create_profesor">Profesor</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action = "/crear/search_alumno", method = "GET"> 
          <input class="form-control mr-sm-2" type= "text" placeholder= "Buscar" aria-label= "search" name = 'search'>
          <button class="btn btn-sm btn-outline-secondary" type="submit">Buscar</button>
        </form>
      </nav>
      <br>
    <div class="container-fluid">

  {% block Formulario %}

  <h5>Listado de todos los profesores: </h5><br> 
    {% for profesor in profesores %}
        <h5>Nombre: {{profesor.nombre}}</h5> 
        <h5>Apellido: {{profesor.apellido}}</h5> 
        <h5>Email: {{profesor.email}}</h5> 
        <h5>Profesion: {{profesor.email}}</h5> 
    {% endfor %} 

    <br><h5>Listado de todos los estudiantes: </h5><br>
    {% for estudiante in estudiantes %}
        <h5>Legajo: {{estudiante.legajo}}</h5> 
        <h5>Nombre: {{estudiante.nombre}}</h5> 
        <h5>Apellido: {{estudiante.apellido}}</h5> 
        <h5>Email: {{estudiante.email}}</h5> 
    {% endfor %} 

    <br><h5>Listado de todos los cursos: </h5><br>
    {% for curso in cursos %}
        <h5>Nombre: {{curso.nombre}}</h5> 
        <h5>Camada: {{curso.camada}}</h5> 
    {% endfor %} 

  {% endblock %}

  </div>
</body>
</html>