{% extends 'index.html' %}

{% block titulo %}
Home
{% endblock %}

{% block Formulario %}
<style type="text/css">
    .welcome{
        display: grid;
        padding: 1rem;
        margin: 2rem;
        border-radius: 2rem;
    }
    .welcome h1{
        margin: 2rem;
        justify-self: center;  
    }
    .welcome h3{
        margin: 2rem;
        justify-self: center;  
    }
    .description{
        display: grid;
        justify-self: center;
        justify-content: center;
        background-color: rgba(79, 76, 76, 0.788);
        width: 90%;
        border-radius: 3rem;
        margin: auto;
    }
    .description .option1{
        justify-items: center;
        padding: 2rem;
    }
    .description .option2{
        justify-items: center;
        padding: 2rem;
    }

</style>
    <div class="welcome" style="background-color: rgba(128, 128, 128, 0.68)">
        <h1 class="title" style="color:white;">Bienvenido a Educoder</h1>
        <h3 class="subtitle" style="color:white;">Desarrolla tus habilidades en tecnología</h3>
    </div>


<div class="description">
    <div class="option1">
        <h4 class="alumno" style="color:white;">¿Quieres aprender?</h4>
        <p style="color:white;">
        <span>Registrate, especializate en las mas recientes tendencias digitales del campo laboral.</span></p>
    </div>
    <div class="option2">
        <h4 class="profesor" style="color:white;">¿Eres experto y quieres compartir tu expertis?</h4>
        <p style="color:white;">
        <span>Integrate con nosotros </span></p>
    </div>
</div>

{% endblock %}
