<!DOCTYPE html>
<html lang="en">
<head>
    <head>
      <title>Proyecto Final</title>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>
          {% block titulo %}

          {% endblock %}
      </title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

          <!--css options-->
      

  </head>
</head>
<body style="background-color: lightcoral";>
    <nav style="justify-content:space-between"  class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/home/"><h5>EduCoder</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/">About</a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Curso
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/appforms/curso/cursos">Listar cursos</a>
                  {% if request.user.is_staff %}
                    <a class="dropdown-item" href="/appforms/curso/create_curso">Crear curso</a>
                    <a class="dropdown-item" href="/appforms/curso/edit_curso">Editar curso</a>
                  {% endif %}
                </div>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profesor
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/appforms/profesor/profesores">Listar profesores</a>
                  {% if request.user.is_staff %}
                    <a class="dropdown-item" href="/appforms/profesor/create_profesor">Crear profesor</a>
                    <a class="dropdown-item" href="/appforms/profesor/edit_profesor">Editar profesor</a>
                  {% endif %}
                </div>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Estudiante
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/appforms/estudiante/estudiantes">Listar estudiantes</a>
                  {% if request.user.is_staff %}
                    <a class="dropdown-item" href="/appforms/estudiante/create_estudiante">Crear estudiante</a>
                    <a class="dropdown-item" href="/appforms/estudiante/edit_estudiante">Editar estudiante</a>
                  {% endif %}
                </div>
              </a>
            </li>
            <li class="nav-item" style="margin-right: 10rem">
            </li>
            {% if request.user.user_profile.imagen %}
              <li class="nav-item">
                <img src="{{request.user.user_profile.imagen.url}}" style="height: 2rem;">
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/perfil/perfil">{{request.user.username}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout/">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login/">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register/">Register</a>
            </li>
          {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0" action = "/appforms/estudiante/search_estudiante", method = "GET"> 
          <input class="form-control mr-sm-2" type= "text" placeholder= "Buscar" aria-label= "search" name = 'search'>
          <button class="btn btn-sm btn-outline-secondary" type="submit">Buscar</button>
        </form>
      </nav>
      <br>
    <div class="container-fluid">

  {% block Formulario %}

  {% endblock %}
  </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

</html>