<!DOCTYPE html>
<html lang="en">
<head>
    <head>
      <title>Proyecto Final</title>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>
          {% block titulo %}

          {% endblock %}
      </title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

          <!--Icons-->
      <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  </head>
</head>
<style type="text/css">
  .body{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/681/661/89/technology-retrowave-binary-code-electro-wave-wallpaper-preview.jpg");
    background-repeat: repeat;
    background-size: auto;
  }

</style>
<body class="body">
    <nav style="justify-content:space-between" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/home/"><h5>EduCoder</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/">About</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Curso 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/appforms/curso/cursos">Listar cursos</a></li>
                {% if request.user.is_staff %}
                  <li><a class="dropdown-item" href="/appforms/curso/create_curso">Crear curso</a></li>
                  <li><a class="dropdown-item" href="/appforms/curso/edit_curso">Editar curso</a></li>
                {% endif %}
            </ul>
          </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profesor 
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/appforms/profesor/profesores">Listar profesores</a></li>
                  {% if request.user.is_staff %}
                    <li><a class="dropdown-item" href="/appforms/profesor/create_profesor">Crear profesor</a></li>
                    <li><a class="dropdown-item" href="/appforms/profesor/edit_profesor">Editar profesor</a></li>
                  {% endif %}
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Estudiante 
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/appforms/estudiante/estudiantes">Listar estudiantes</a></li>
                  {% if request.user.is_staff %}
                    <li><a class="dropdown-item" href="/appforms/estudiante/create_estudiante">Crear estudiante</a></li>
                    <li><a class="dropdown-item" href="/appforms/estudiante/edit_estudiante">Editar estudiante</a></li>
                  {% endif %}
              </ul>
            </li>
            {% if request.user.user_profile.imagen %}
                <li class="nav-item">
                  <img src="{{request.user.user_profile.imagen.url}}" style="height: 2rem;">
                </li>
              {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/perfil/perfil">{{request.user.username}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout/">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login/">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register/">Register</a>
            </li>
          {% endif %}
        </ul>
        <form class="form-inline my-2 my-sm-0" action = "/appforms/estudiante/search_estudiante", method = "GET"> 
          <input class="form-control mr-sm-2" type= "text" placeholder= "Buscar alumno" aria-label= "search" name = 'search'>
          <button class="btn btn-sm btn-outline-secondary" type="submit">Buscar</button>
        </form>
      </nav>
      <br>
    <div class="container-fluid">

  {% block Formulario %}

  {% endblock %}
  </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

</html>