{% extends "home.html"%}
{% block Formulario %}

<h1>Aca va el contenido de buscar alumnos</h1>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for estudiante in estudiantes %}

    <div class="card-body">
        <h5 class="card-title">{{estudiante.legajo}}</h5>
        <h5 class="card-title">{{estudiante.nombre}}</h5>
        <h5 class="card-title">{{estudiante.apellido}}</h5>
        <h5 class="card-title">{{estudiante.email}}</h5>
    </div>
    
    {% endfor %}

{% endblock %}