{% extends "AppForms/home.html"%}
{% block Formulario %}

<h1>Aca va el contenido de buscar estudiantes</h1>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for product in products %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{new.name}}</h5>
            <h5 class="card-title">{{product.description}}</h5>
            <h5 class="card-title">{{product.price}}</h5>
        </div>
    </div>

    {% endfor %}

{% endblock %}