{% extends "home.html"%}
{% block Formulario %}

<h3>Resultado de la busqueda de alumnos</h3>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    
    {% for estudiante in estudiantes %}
        <div class="card-body">
            <h5 class="card-title">Legajo: {{estudiante.legajo}}</h5>
            <h5 class="card-title">Nombre: {{estudiante.nombre}}</h5>
            <h5 class="card-title">Apellido: {{estudiante.apellido}}</h5>
            <h5 class="card-title">Email: {{estudiante.email}}</h5>
        </div>
    {% endfor %}

    <h5> {{errors}} </h5>

{% endblock %}