{% extends 'index.html' %}
{% block Formulario %}

<h3 style="color:white";>Seccion para agregar un nuevo estudiante</h3> <br>

    {% if estudiantes %}
        <form action ="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table style="color:white";>
                {{estudiantes.as_table}}
            </table>
        <input type = "submit", value = "Crear" class="btn btn-danger">    

    {% elif new_estudiante %}
            <div class="card-body">
                <h5 class="card-title" style="color:white";>Legajo: {{new_estudiante.legajo}}</h5>
                <h5 class="card-title" style="color:white";>Nombre: {{new_estudiante.nombre}}</h5>
                <h5 class="card-title" style="color:white";>Apellido: {{new_estudiante.apellido}}</h5>
                <h5 class="card-title" style="color:white";>Email: {{new_estudiante.email}}</h5>
                <h5 class="card-title" style="color:white";>Activo: {{new_estudiante.activo}}</h5><br>
                <h5 style="color:white";> El estudiante se ha creado con exito! </h5>
            </div>
    {% endif %}

<h5 style="color:white";> {{errors}} </h5>

{% endblock %}    