{% extends 'index.html' %}

{% block titulo %}
    Editar estudiantes
{% endblock %}

{% block Formulario %}

<h3 style="color:white";>Detalle del estudiante</h3> <br>

    {% if estudiante.imagen %}
        <img src="{{estudiante.imagen.url}}" class="card-img-top" style="width:10%">
    {% endif %}
        <div class="card-body" style="background-color: rgba(128, 128, 128, 0.68)">
            <p class="card-text" style="color:white";>Legajo: {{estudiante.legajo}}</p>
            <p class="card-text" style="color:white";>Nombre: {{estudiante.nombre}}</p>
            <p class="card-text" style="color:white";>Apellido: {{estudiante.apellido}}</p>
            <p class="card-text" style="color:white";>Email: {{estudiante.email}}</p>
        </div>

{% endblock %}