{% extends 'index.html' %}

{% block titulo %}
    Editar estudiantes
{% endblock %}

{% block Formulario %}

<h3 style="color:white";>Listado de estudiantes a editar</h3> <br>

{% if object_list %}
    {% for estudiante in object_list %}

        <div class="card-body" style="background-color: rgba(128, 128, 128, 0.68)">
            <p class="card-text" style="color:white";>Legajo: {{estudiante.legajo}}</p>
            <p class="card-text" style="color:white";>Nombre: {{estudiante.nombre}}</p>
            <p class="card-text" style="color:white";>Apellido: {{estudiante.apellido}}</p>
            <p class="card-text" style="color:white";>Email: {{estudiante.email}}</p>
            <p class="card-text" style="color:white";>Activo: {{estudiante.activo}}</p>
            <a href="/appforms/estudiante/update_estudiante/{{estudiante.id}}/" class="btn btn-secondary">Editar</a>
            <a href="/appforms/estudiante/delete_estudiante/{{estudiante.id}}/" class="btn btn-danger">Eliminar</a>
        </div>

    {% endfor %}

{% else %}

    <h5 style="color:white";>No se ha agregado ningun estudiante</h5>

{% endif %}

{% endblock %}


