{% extends 'index.html' %}

{% block titulo %}
    Listar estudiantes
{% endblock %}

{% block Formulario %}

<h3>Listado de todos los estudiantes</h3> <br>

    {% if object_list %}
        {% for estudiante in object_list %}
            <div class="card" style="margin-right:40rem;margin-top:2rem">
                <div class="card-body" style="background-color: rgba(128, 128, 128, 0.68)">
                    <p class="card-text">Legajo: {{estudiante.legajo}}</p>    
                    <p class="card-text">Apellido: {{estudiante.apellido}}</p>
                    <a href="/appforms/estudiante/detail_estudiante/{{estudiante.id}}/" class="btn btn-secondary">Detalle</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <h5>No se ha agregado ningun estudiante</h5>
        {% endif %}
            </div>

{% endblock %}