{% extends 'index.html' %}

{% block titulo %}
Buscar alumno
{% endblock %}

{% block Formulario %}

<h3>Resultado de la busqueda del estudiante</h3> <br>

{{message}}
    
    {% for estudiante in estudiantes %}
        <div class="card-body">
            <h5 class="card-title">Legajo: {{estudiante.legajo}}</h5>
            <h5 class="card-title">Nombre: {{estudiante.nombre}}</h5>
            <h5 class="card-title">Apellido: {{estudiante.apellido}}</h5>
            <h5 class="card-title">Email: {{estudiante.email}}</h5>
        </div>
    {% endfor %}

    <h5> {{errors}} </h5>

{% endblock %}