{% extends 'index.html' %}

{% block titulo %}
Buscar alumno
{% endblock %}

{% block Formulario %}

<h3 style="color:white";>Resultado de la busqueda del estudiante</h3> <br>

<h5 style="color:white";> {{message}} </h5>

    {% for estudiante in estudiantes %}
        <div class="card-body">
            <h5 class="card-title" style="color:white";>Legajo: {{estudiante.legajo}}</h5>
            <h5 class="card-title" style="color:white";>Nombre: {{estudiante.nombre}}</h5>
            <h5 class="card-title" style="color:white";>Apellido: {{estudiante.apellido}}</h5>
            <h5 class="card-title" style="color:white";>Email: {{estudiante.email}}</h5>
            <h5 class="card-title" style="color:white";>Activo: {{estudiante.activo}}</h5>
        </div>
    {% endfor %}

<h5 style="color:white";> {{errors}} </h5>

{% endblock %}