{% extends 'index.html' %}

{% block titulo %}
Crear curso
{% endblock %}

{% block Formulario %}

<h3>Seccion para agregar un nuevo curso</h3> <br>

{{message}}

    {% if cursos %}
        <form action ="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{cursos.as_table}}
            </table>
        <input type = "submit", value = "Crear" class="btn btn-secondary">    

    {% elif new_curso %}
            <div class="card-body">
                <h5 class="card-title">Nombre: {{new_curso.nombre}}</h5>
                <h5 class="card-title">Comision: {{new_curso.comision}}</h5><br>
                <h5> El curso se ha creado con exito! </h5>
            </div>
    {% endif %}

    <h5> {{errors}} </h5>        

{% endblock %}  