{% extends 'index.html' %}

{% block titulo %}
    Editar curso
{% endblock %}

{% block Formulario %}

<h3>Detalle del profesor</h3> <br>

    {% if curso.imagen %}
        <img src="{{curso.imagen.url}}" class="card-img-top" style="width:10%">
    {% endif %}
    <div class="card" style="margin-right:40rem;margin-top:2rem">
        <div class="card-body">
            <p class="card-text">Comision: {{curso.comision}}</p>
            <p class="card-text">Nombre: {{curso.nombre}}</p>
        </div>
    </div>

{% endblock %}