{% extends 'index.html' %}

{% block titulo %}
    Editar curso
{% endblock %}

{% block Formulario %}

<h3 style="color:white";>Detalle del profesor</h3> <br>

    {% if curso.imagen %}
        <img src="{{curso.imagen.url}}" class="card-img-top" style="width:10%">
    {% endif %}
        <div class="card-body" style="background-color: rgba(128, 128, 128, 0.68)">
            <p class="card-text" style="color:white;">Comision: {{curso.comision}}</p>
            <p class="card-text" style="color:white;">Nombre: {{curso.nombre}}</p>
        </div>

{% endblock %}