{% extends 'index.html' %}

{% block titulo %}
    Editar cursos
{% endblock %}

{% block Formulario %}

<h3>Listado de todos los cursos</h3> <br>

    {% for curso in object_list %}

    <div class="card" style="margin-right:40rem;margin-top:2rem">
        <div class="card-body">
            <p class="card-text">Nombre: {{curso.nombre}}</p>
            <p class="card-text">Comision: {{curso.comision}}</p>
            <a href="/appforms/curso/update_curso/{{curso.id}}/" class="btn btn-primary">Editar</a>
            <a href="/appforms/curso/delete_curso/{{curso.id}}/" class="btn btn-danger">Eliminar</a>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}