{% extends 'index.html' %}

{% block titulo %}
    Editar curso
{% endblock %}

{% block Formulario %}

<h3>Listado de cursos a editar</h3> <br>

{% if object_list %}
    {% for curso in object_list %}

    <div class="card" style="margin-right:40rem;margin-top:2rem">
        <div class="card-body">
          <p class="card-text">Comision: {{curso.comision}}</h5>
          <p class="card-text">Nombre: {{curso.nombre}}</h5><br>
          <a href="/appforms/curso/update_curso/{{curso.id}}/" class="btn btn-secondary">Editar</a>
          <a href="/appforms/curso/delete_curso/{{curso.id}}/" class="btn btn-danger">Eliminar</a>
        </div>
    </div>

    {% endfor %}

{% else %}

    <h5>No se ha agregado ningun estudiante</h5>

{% endif %}

{% endblock %}


