{% extends 'index.html' %}

{% block titulo %}
    Perfil
{% endblock %}

{% block Formulario %}

<h3>Datos de usuario</h3> <br>

{{message}}

    {% if request.user.user_profile %}
        {% if request.user.user_profile.imagen %}
            <img src="{{request.user.user_profile.imagen.url}}" class="card-img-top" style="width:10%">
        {% endif %}
            <div class="card-body" style="background-color: rgba(128, 128, 128, 0.68)">
                <p class="card-text" style="color:white;">Usuario: {{request.user.user_profile.usuario}}</p>
                <p class="card-text" style="color:white;">Nombre: {{request.user.user_profile.nombre}}</p>
                <p class="card-text" style="color:white;">Apellido: {{request.user.user_profile.apellido}}</p>
                <p class="card-text" style="color:white;">Email: {{request.user.user_profile.mail}}</p>
                <p class="card-text" style="color:white;">Direccion: {{request.user.user_profile.direccion}}</p>
                <p class="card-text" style="color:white;">DNI: {{request.user.user_profile.dni}}</p>
                <a href="/perfil/update_perfil/{{request.user.user_profile.id}}/" class="btn btn-secondary">Editar</a>
            </div>
    {% else %}

    <h5> El usuario no tiene creado un perfil, por favor contactarse con el administrador. </h5>

    {% endif %}

{% endblock %}