{% extends 'index.html' %}

{% block titulo %}
    Actualizar campos perfil
{% endblock %}

{% block Formulario %}

    {% if user_profile %}
        <h3 style="color:white;">Complete los campos a actualizar</h3>

        <form action="" method="POST" style="margin-right:40rem;margin-top:2rem" enctype="multipart/form-data">
            {% csrf_token %}
            <table style="color:white;">
                {{form.as_table}}
            </table>
            <input type="submit" value="Enviar" class="btn btn-danger">
        </form>
    {% endif %}

{% endblock %}